#wrap { 
  width: 86%; 
  margin: 0 auto; 
}

body {
  font-family: 'Lato', sans-serif;
}

.header {
  margin-top: 5%;
  margin-bottom: 10%;
}

#logo, header{
  float: left;
}

#logo {
  height: auto;
  width: 3em;
  margin-right: 1em;
}

h1 {
  font-size: 2.75em; 
  font-weight: normal;
  letter-spacing: .05em;
  line-height: 1.75;
  margin-bottom: 2em;
}

.underline {
  font-weight: bold;
}

.projects-grid .c-4 {
  border: none;
}

.projects-grid .c-6:not(:first-child) {
  padding-left: 2em;
}

.project {
  text-align: center;
}

.project h3{
  display:none;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: white;
}

.project summary {
  display: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  font-style: italic;
}

.project.code {
  background: url(../assets/code.png) no-repeat center;;
  height: 326px;
}

.project.tetris {
  background: url(../assets/tetris.jpg) no-repeat center;;
  height: 326px;
}


.project.tetris:hover summary{
  color: white;
}

.project.code:hover summary{
  font-weight: bolder;
}

.project:hover summary{
  margin: 1em 5em 0 0;
  display: block;
  float: right;
  letter-spacing: normal;
}


@media screen min-width: 900px {
}

@media screen and (max-width: 900px) and (min-width: 501px) {
  h1 {
    font-size: 2em; 
  }
  .projects-grid .c-6:not(:first-child) {
    padding: 1em 0 0 0;
  }
  .project:hover summary{
    margin: 1em 3em 0 0;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5em; 
  }
  .projects-grid .c-6:not(:first-child) {
    padding: 1em 0 0 0;
  }
  .project:hover summary{
    margin: 1em 1em 0 0;
  }
}
