
body {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 13%;
  width: 90%;
}

header, h1 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.75em; 
}

header {
  display: inline-block;
}
.logo {
  width: 20px;
  height: 20px;
  background: blue;
  display: inline-block;
  margin-right: 5px;
}

.subtext {
  padding-top: 5%;
  padding-bottom: 5%;
  color: rgba(50, 50, 50, .5);
}

.underline {
  border-bottom: 2px solid grey;
}

.btn {
  background-color: #03A9F4;
  color: #FFFFFF;
  border-color: #03A9F4;
  float: right;
  margin-right:10px;
  padding: 5px;
}

footer {
  margin-top: 20px;
  bottom: 20px;
}

.projects-grid .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.projects-grid .c-4 {
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

.project {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid grey;
}

.project.pink {
  background-color: #FFB6C1;
}

.project.blue {
  background-color: #ADD8E6;
}

@media screen and (max-width: 900px) and (min-width: 501px) {
  h1 {
    font-size: 2em; 
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5em; 
  }
}
